*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
nav{
	position: fixed;
	background: #000;
	width:100%;
	height:50px;
}
nav .logo{
	color:#fff;
	font-size: 28px;
	line-height: 50px;
	padding-left: 50px;
	font-family: 'Montserrat',sans-serif;
	font-weight: 600;
}
nav .menu{
	float: right;
	margin-right: 30px;
}
nav .menu li{
	list-style: none;
	display:inline-block;
	margin:0 12px;
}
nav .menu li a{
	color:#fff;
	font-size: 17px;
	text-decoration: none;
	line-height: 50px;
	padding:7px 13px;
	letter-spacing: 0.5px;
	font-family: 'Montserrat',sans-serif;
	transition: 0.5s;
}
nav .menu li a.ac ,
nav .menu li a:hover ,
nav .menu li a:active{
	color: #56ffff;
}

.icon{
	font-size:22px;
	color:#fff;
	cursor: pointer;
	font-family: sans-serif;
	display: none;
}
.icon.cancel{
	position: absolute;
	top:22px;
	right:30px;
}

.icon.menus{
	float:right;
	line-height:50px;
	margin-right: 27px;
}


.container{
	height:65vh;
	text-align: center;
}
.container h1{
	font-size: 100px;
	padding:40px 0 80px 0;
}
.container h3{
	padding-bottom: 90px;
	font-size: 33px;
	font-family: 'Montserrat',sans-serif;
}
.container p{
	font-size: 22px;
	font-family:system-ui;
	font-weight: 500;
	letter-spacing: 1px;
}

.h12uywquy{
    background: #2a292b;
    height: 29.2vh;
	display:flex;
	justify-content: center;
	align-items: center;
}
.h12uywquy p{
	font-size: 26px;
	color:#fff;
	font-family: "Montserrat", sans-serif;
    letter-spacing: .4px;
	text-align: center;
}


@media screen and (max-width:888px){
	nav .logo{
		padding-left: 30px;
	}
	
	body.disable{
		overflow: hidden;
	}
	.icon{
		display:block;
	}
	body.disable .menus{
		display: none;
	}
	nav .menu{
		position: fixed;
		background:#222;
		width:100%;
		height:100vh;
		top:0;
		left:-100%;
		padding:50px 0;
		max-width:400px;
		margin:0 auto;
		text-align: center;
		transition: all 0.5s ease;
	}
	body.disable  .menu{
		left:0%;
	}
	nav .menu li{
		display: block;
		margin:20px;
	}
	nav .menu li a{
		font-size: 20px;
		text-transform: uppercase;
	}
}
