*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: #f2f2f2;
	transition: background 0.5s linear;
}

body.dark{
		background: #3a3939;
}
nav{
	position: fixed;
	width:100%;
	height: 60px;
	background:#fff;
	top:0;
	transition: all 0.5s ease;
}
body.dark nav{
	background: #666;
}

.logo{
	background: url(imgs/LogoLight.png);
	background-size: cover;
	width: 150px;
	height: 50px;
	margin-left: 40px;
	margin-top: 6px;
	transition: background 0.5s linear;
}
body.dark .logo{
	background: url(imgs/LogoDark.png);
	background-size: cover;
}
.menu{
	float: right;
	margin-right: -20px;
}
nav .menu li{
	list-style: none;
	display: inline-block;
	margin:0 5px;
}
nav .menu li a{
	font-size: 18px;
	padding:7px 13px;
	text-decoration: none;
	color: #000;
	line-height:60px;
	font-family: 'Montserrat',sans-serif;
	text-transform: uppercase;
	font-weight: 600;
	transition: all 0.3s ease;
}
body nav .menu li .link-home,
body nav .menu li a:hover,
body.dark nav .menu li .link-home,
body.dark nav .menu li a:hover{
	color:#ffb600;
}
body.dark .logo,body.dark nav .menu li a{
	color:#fff;
}



.checkbox {
	opacity: 0;
	position: absolute;
}

.label {
	background-color: #111;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 26px;
	width: 50px;
	transform: scale(1.1);
	transition: all 0.5s ease;
}

.label .ball {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 3px;
	left: 3px;
	height: 20px;
	width: 20px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
	transform: translateX(24px);
}


.fa-moon {
	color: #f1c40f;
}

.fa-sun {
	color: #f39c12;
}
.mode{
	float: right;
	margin:16px 50px;
}
body.dark{
		background: #3a3939;
}
.icons{
	font-size: 26px;
	color:#000;
	cursor:pointer;
	display: none;
}
body.dark .icons{
	color:#fff;
}
.icons.cancel{
	position: absolute;
	right:30px;
	top:20px;
}
.icons.menus{
	float:right;
	line-height: 60px;
	margin-right: 20px;
}






@media (max-width:1009px){
	.icons{
		display: block;
	}
	body.discroled .menus{
		display: none;
	}
	body.discroled{
		overflow: hidden;
	}
	.logo{
		width: 130px;
		height: 42px;
		margin-top:9px;
	}
	nav .menu{
		position: absolute;
		background:#ececec;
		top:0;
		left:-100%;
		height: 100vh;
		width:100%;
		max-width: 400px;
		padding:50px 0;
		text-align: center;
		transition: all 0.5s ease;
	}
	body.discroled .menu{
		left:0%;
	}
	body.dark nav .menu{
		background: #202020;
	}
	nav .menu li{
		display: block;
		margin-top: 10px;
	}
	.mode {
    	margin: 16px 20px;
	}
	.label{
		transform: scale(0.9);
	}
}
@media (max-width:350px){
	.logo{
		margin:11px 10px;
		width: 120px;
		height: 40px;
	}
	.mode {
    	margin: 16px 10px;
	}
	
}
@media (max-width:280px){
	.logo{
		width: 110px;
		height: 34px;
		margin-top: 14px;
	}
	.mode {
    	margin: 16px 3px;
	}
	.icons.menus{
		margin-right: 8px;
	}
	.label{
		transform: scale(0.8);
	}
}
@media (max-width:205px){
	.mode, .icons{
		display: none;
	}
	.logo{
		margin:13px auto;
	}
}

